.container{
    width: 800px;
    height: 800px;
}
.container__div-perc{
    width: 50%;
    height: 50%;
    font-size: 2px;
    border: 1px dotted #FF0000;
}
.div__px{
    width: 80px;
    height: 80px;
    border: 1px solid forestgreen;
}
.p-rem{
    font-size: 7rem;
}
.p-em{
    font-size: 7em;
    border: 1px solid blue;
    padding: var(--space);
}
:root{
    --universal-color: #FF0000;
    --space: 25px;
}
* {
    color: var(--universal-color);
}