$hover-color: #ff0000;
$font-color: black;
$border-color: #333333;
$nav-color: #e7e7e7;

$dark-background: #000000;
$dark-font: white;
$dark-hover: yellow;

$base-color-light: #012023;
$base-color-dark: #298;

$menu-colors: purple, fuchsia, salmon, pink;